body {
    font-family: 'Lato', sans-serif;
    background-color: #E0F4FF;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Sesuaikan tinggi container sesuai kebutuhan */
}

.featured-image {
  width: 50%;
  max-height: fit-content;
  object-fit: cover;
  object-position: center;
}

.img-type {
    margin-left: 120px;
  }

  .type-fish .img-type img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
  }

  .img-type figcaption {
    text-align: center;
  }

  .type-fish {
    background-color: #E0F4FF;
    border-radius: 8px;
    margin-top: 30px;
    margin: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #001219;
  }

  /* .type-fish .img-type img {
    max-height: 200px;
    width: 100%;
    border-radius: 20px;
  } */

  .type-left { 
    display: flex; flex-direction: row;
  }

  .type-fish h2 {text-align: center;}


  footer {
    padding: 20px;
    color: white;
    background-color: #40A2E3;
    text-align: center;
    font-weight: bold;
  }