*, html {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #E0F4FF;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

main {
  padding: 20px;
}

nav {
  background-color: #40A2E3;
  padding: 5px;

  position: sticky;
  top: 0;
}

nav li {
  list-style-type: none;
}

nav ul {
  padding-inline: 4rem;
  display: flex;

  gap: 2rem;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

  color: white;
}

nav a:hover {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Sesuaikan tinggi container sesuai kebutuhan */
}

.featured-image {
  width: 50%;
  margin: 10px;
  max-height: fit-content;
  object-fit: cover;
  position: sticky;
}


.img-type {
    margin: 0 auto;
    padding: 10px;
  }

  .type-fish .img-type img {
    height: 200px;
    width: 100%;
    border-radius: 20px;
  }

  .img-type figcaption {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .type-fish {
    background-color: #E0F4FF;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #001219;
  }

  .type-fish .img-type img {
    max-height: 200px;
    width: 100%;
    border-radius: 20px;
  }

  .type-left { 
    display: flex; 
    flex-direction: row; 
  }
  .type-fish h2 {text-align: center;}

  .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #40A2E3;
    text-align: center;
    color: white;
  }
  

  footer {
    padding: 20px;
    color: white;
    background-color: #40A2E3;
    text-align: center;
    font-weight: bold;
  }